#mylog {
    margin: auto;
    border: 2px solid black;
    background-color: aqua;
    width: 300px;
    height: 300px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px grey;
}
/* .mycolor>div:nth-child(2) {
    color: yellow;
    margin:auto;
    font-style: oblique;
    font-size: 100px;
    font-weight:900;
    padding: 200px;
    border: 2px solid brown;
    background-color: beige;
}

.mycolor {
    color: red;
    margin:auto;
    font-style: italic;
    font-size: 20px;
    font-weight: 900;
    
} */